.tela-login {
  background-color: #ffffff;
  width: 100%;
  min-width: 1280px;
  min-height: 1000px;
  position: relative;
}

.tela-login .rectangle {
  position: absolute;
  top: 218px;
  left: 378px;
  width: 524px;
  height: 564px;
  border-radius: 19px;
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(213, 206, 219, 1) 0%, rgba(213, 206, 219, 1) 100%);
}

.tela-login .text-wrapper {
  position: absolute;
  top: 597px;
  left: 428px;
  width: 100px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #f7fafc;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  white-space: nowrap;
}

.tela-login .ellipse {
  position: absolute;
  top: 599px;
  left: 408px;
  width: 18px;
  height: 17px;
  border-radius: 9px / 8.5px;
  border: 1px solid #5794ab;
}

.tela-login .div {
  position: absolute;
  top: 539px;
  left: 399px;
  width: 482px;
  height: 51px;
  background-color: #e8edf5;
  border-radius: 8px;
}

.tela-login .rectangle-2 {
  position: absolute;
  top: 687px;
  left: 556px;
  width: 168px;
  height: 35px;
  background-color: #577c8e;
  border-radius: 8px;
}

.tela-login .text-wrapper-2 {
  position: absolute;
  top: 516px;
  left: 404px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  white-space: nowrap;
}

.tela-login .text-wrapper-3 {
  position: absolute;
  top: 599px;
  left: 736px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #577c8e;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  white-space: nowrap;
}

.tela-login .n-o-tem-uma-conta {
  position: absolute;
  top: 739px;
  left: 694px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  white-space: nowrap;
}

.tela-login .span {
  color: #f7fafc;
}

.tela-login .text-wrapper-4 {
  color: #577c8e;
}

.tela-login .rectangle-3 {
  position: absolute;
  top: 449px;
  left: 399px;
  width: 482px;
  height: 51px;
  background-color: #e8edf5;
  border-radius: 8px;
}

.tela-login .rectangle-4 {
  position: absolute;
  top: 254px;
  left: 598px;
  width: 83px;
  height: 65px;
  background-color: #5794ab;
  border-radius: 7px;
}

.tela-login .rectangle-5 {
  position: absolute;
  top: 266px;
  left: 608px;
  width: 30px;
  height: 5px;
  background-color: #9ab0b3;
}

.tela-login .rectangle-6 {
  position: absolute;
  top: 281px;
  left: 608px;
  width: 49px;
  height: 5px;
  background-color: #9ab0b3;
}

.tela-login .text-wrapper-5 {
  position: absolute;
  top: 342px;
  left: 478px;
  width: 323px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  line-height: 23px;
}

.tela-login .p {
  position: absolute;
  top: 374px;
  left: 507px;
  width: 266px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  white-space: nowrap;
}

.tela-login .text-wrapper-6 {
  position: absolute;
  top: 426px;
  left: 404px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  white-space: nowrap;
}

.tela-login .text-wrapper-7 {
  position: abso
}