 .tela-perguntas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.tela-perguntas .depth-frame {
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e5e8ea;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tela-perguntas .div {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.tela-perguntas .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.tela-perguntas .vector-wrapper {
  position: relative;
  flex: 1;
  width: 16px;
  flex-grow: 1;
}

.tela-perguntas .vector {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 13px;
  height: 13px;
}

.tela-perguntas .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #0c141c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
}

.tela-perguntas .depth-frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tela-perguntas .depth-frame-3 {
  display: inline-flex;
  height: 40px;
  align-items: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.tela-perguntas .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0c141c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.tela-perguntas .depth-frame-wrapper {
  display: inline-flex;
  max-width: 480px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 10px;
  background-color: #e8edf4;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}

.tela-perguntas .depth-frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tela-perguntas .img-wrapper {
  flex: 1;
  flex-grow: 1;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tela-perguntas .img {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 15px;
  height: 16px;
}

.tela-perguntas .logo {
  position: relative;
  width: 38px;
  height: 38px;
}

.tela-perguntas .group {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #2f4157;
  border-radius: 92px;
}

.tela-perguntas .watermark-image {
  margin-top: 5px;
  width: 28px;
  height: 28px;
  margin-left: 13.16%;
  margin-right: 13.16%;
  flex: 1;
  aspect-ratio: 1;
}

.tela-perguntas .depth-frame-5 {
  display: flex;
  flex-direction: column;
  height: 1415px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f7f9fc;
}

.tela-perguntas .depth-frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tela-perguntas .depth-frame-7 {
  align-items: flex-start;
  justify-content: center;
  padding: 20px 160px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tela-perguntas .depth-frame-8 {
  margin-bottom: -41.00px;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tela-perguntas .depth-frame-9 {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px 12px;
  padding: 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tela-perguntas .depth-frame-10 {
  display: inline-flex;
  flex-direction: column;
  min-width: 288px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.tela-perguntas .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #0c141c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.tela-perguntas .depth-frame-11 {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 480px;
  align-items: flex-end;
  gap: 16px 16px;
  padding: 12px 16px;
  position: relative;
  flex: 0 0 auto;
}

.tela-perguntas .depth-frame-12 {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tela-perguntas .depth-frame-13 {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 15px;
  background-color: #f7f9fc;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #cedbe8;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tela-perguntas .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #49729b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.tela-perguntas .depth-frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 16px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tela-perguntas .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #0c141c;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
}

.tela-perguntas .depth-frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tela-perguntas .depth-frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f7f9fc;
  border-radius: 8px;
  border: 1px solid;
  border-color: #cedbe8;
}

.tela-perguntas .depth-frame-17 {
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tela-perguntas .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0c141c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.tela-perguntas .depth-frame-18 {
  position: relative;
  flex: 1;
  width: 20px;
  flex-grow: 1;
}

.tela-perguntas .vector-2 {
  position: absolute;
  top: 7px;
  left: 3px;
  width: 14px;
  height: 8px;
}

.tela-perguntas .depth-frame-19 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 8px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tela-perguntas .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #49729b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.tela-perguntas .depth-frame-20 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tela-perguntas .depth-frame-21 {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.tela-perguntas .depth-frame-22 {
  flex-direction: column;
  gap: 24px;
  padding: 40px 20px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.tela-perguntas .depth-frame-23 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tela-perguntas .depth-frame-24 {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  position: relative;
}

.tela-perguntas .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #49729b;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.tela-perguntas .depth-frame-25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -72.00px;
}